@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --color: #ffffff;
    --color-minor: #666;
    --background: #ffffff;

    --brand-main: #2461e5;
    --brand-dark: #001f43;

    --alert-warning: #ffd860;
    --alert-warning-dark: #ffcb2d;

    --footer: #f0eeeb;
    --footer-dark: #cccccc;
}

body {
    background-color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    background-color: var(--brand-main);
    padding: 20px 40px;
}

.header-logo {
    display: flex;
    align-items: center;
    width: fit-content;
}

.header-logo-img {
    height: 65px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.header-menu-item {
    display: flex;
    align-items: center;
    color: var(--color);
    height: fit-content;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
}

.header-menu-item svg {
    height: 24px;
    fill: var(--background);
}

.alert {
    display: flex;
    height: 90px;
    background-color: var(--alert-warning);
    color: var(--brand-dark);
}

.alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90px;
    background-color: var(--alert-warning-dark);
}

.alert-icon svg {
    height: 50%;
    fill: var(--brand-dark);
}

.alert-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 90px);
    padding: 10px;
}

.alert-text h2 {
    width: fit-content;
    font-size: 1.5em;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.alert-text-states {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.alert-text-states a {
    color: var(--brand-dark);
    height: fit-content;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
}

.main {
    width: 75%;
    min-height: calc(calc(100vh - 105px) - 40px);
    margin: 40px auto;
}

.main-today {
    height: calc(calc(315px + 200px) + 40px);
}

.main-today h1 {
    font-size: 2rem;
}

.main-today-asof {
    font-size: 1.5rem;
}

.main-today-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: calc(315px - calc(38px + 20px));
    margin-top: 20px;
}

.main-today-item {
    width: 100%;
}

.main-today-item h1 {
    display: flex;
    font-size: 4.5em;
}

.main-today-item h3 {
    font-size: 1.5em;
    color: #808080;
}

.today-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 48px;
}

.today-more-item {
    display: flex;
    justify-content: space-between;
}

.today-more-item h2 {
    font-size: 2em;
    height: fit-content;
}

.main-other {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 12px;
    margin-top: 40px;
    height: 200px;
}

.main-other-item h1 {
    font-size: 3rem;
}

.main-other-item h2 {
    font-size: 1.5rem;
}

.main-other-item h3 {
    font-size: 1.25rem;
}

.main-services {
    margin-top: 40px;
}

.main-services-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    min-height: 315px;
    margin-top: 20px;
}

.main-services-item {
    padding: 20px;
    background-color: var(--brand-main);
    color: var(--color);
    text-decoration: none;
    border-radius: 20px;
    height: 100%;
}

.main-services-item h1 {
    font-size: 24px;
}

.main-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
}

.main-more-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: 150px;
    margin-top: 20px;
}

.main-more-item {
    padding: 20px;
    background-color: var(--brand-main);
    color: var(--color);
    text-decoration: none;
    border-radius: 20px;
    height: 100%;
}

.main-more-content-item a {
    font-size: 1.2rem;
    color: var(--color-minor);
    fill: var(--color-minor);
}

.main-more-content-item svg {
    height: 1.2rem;
    vertical-align: -0.125em
}

.footer {
    color: var(--color-minor);
    background-color: var(--footer);
    height: fit-content;
    padding: 20px calc(calc(100% - 75%) / 2);
}

.footer a {
    color: var(--color-minor);
    fill: var(--color-minor);
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.4em 0;
}

.footer-item {
    padding: 0 16px;
}

.footer-item a {
    display: block;
    font-size: 14px;
    margin-bottom: 16px;
}

.footer-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dotted var(--color-minor);
    text-align: center;
}

.footer-three a {
    margin-bottom: 0px;
}

.footer-warnings {
    padding-bottom: 16px;
    margin: 0;
    border-bottom: 1px dotted var(--color-minor);
    text-decoration: none;
}

.footer-warnings span {
    text-decoration: underline;
}

.footer-warnings svg {
    height: 18px;
    vertical-align: -0.125em;
}

.footer-maps {
    display: flex;
    justify-content: space-around;
    height: 90px;
    margin-bottom: 16px;
    border-bottom: 1px dotted var(--color-minor);
}

.footer-maps span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

.footer-maps img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.footer-social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dotted var(--color-minor);
}

.footer-social a {
    margin: 0;
    text-decoration: none;
}

.footer-social svg {
    height: 18px;
    vertical-align: -0.125em
}

.footer-social span {
    text-decoration: underline;
}

.footer-acknowledgement {
    clear: both;
    width: 100%;
    font-size: 14px;
    border-top: 1px dotted var(--color-minor);
    padding-top: 1.4em;
    text-align: center;
}

.footer-acknowledgement a {
    text-decoration: underline;
}

.footer-acknowledgement strong {
    display: block;
    font-weight: bold;
}

/* disclaimer */

.disclaimer {
    position: fixed;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    bottom: 8px;
    right: 8px;
}

.disclaimer:hover {
    text-decoration: underline;
}